<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
</head>
<body>
    <h3>You could log in to this app using your account in other services</h3>
    <a href={{.}}>
        <button style="color: white; background-color: blue">Twitter</button>
    </a>
</body>
</html>